* {
  font-family: 'Nunito', sans-serif;
}
 body {
   margin: 0;
   border: 0;
   padding: 0;
 }

 div#main {
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
 }

.navbar {
  margin: 0;
  border: 0;
  padding: 10px 0 10px 50px;
  color: white;
  background-color: #1caff6;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pack {
  padding: 20px;
}

.pack-logo {
  border-radius: 50%;
  max-height: 170px;
}
