* {
  font-family: 'Nunito', sans-serif;
}
 body {
   margin: 0;
   border: 0;
   padding: 0;
   background-color: #e9e9e9;
 }

 div#main {
   max-width: 900px;
   text-align: center;
   margin: 0 auto;
   border-radius: 25px;
   background-color: white;
   padding: 0 50px 50px 50px;
 }

.navbar {
  margin: 0;
  border: 0;
  padding: 10px 0 10px 50px;
  color: white;
  background-color: #1caff6;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  width: 150px;
  height: 50px;
  font-size: 24px;
  border-radius: 25px;
  background-color: #1caff6;
  color: white;
  border:none;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pack {
  padding: 20px 40px 20px 40px;
}

.pack-logo {
  border-radius: 50%;
  max-height: 170px;
}

.pack-logo-small {
  border-radius: 50%;
  max-height: 100px;
  margin-top: 10px;
}

.pack-logo-very-small {
  border-radius: 50%;
  margin: 10px 10px 0 0;
  max-height: 42px;
}

.timer {
  padding-left: 20px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}

/* flip the pane */
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 500px;
  height: 205px;
  border-radius: 25px;
  text-align: center;
  border: 1px solid #D3D3D3;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 20px;
}

.front-text, .back-text {
  text-align: center;
  width: 80%;
  padding: 60px 10% 10px 10%;
}

.back-text {
  padding: 40px 10% 20px 10%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  /*background-color: #D3D3D3;*/
}

.answer-choices {
  padding-left: 50px;
  width: 300px;
}

.answer {
  border-radius: 25px;
  height: 50px;
  margin-bottom: 5px;
  border: 1px solid #D3D3D3;
  box-shadow: 2px 2px 1px #888888;
}

.answer:not(.no-click):hover {
  background-color: #1caff6;
  color: white;
  cursor: pointer;
}

.answer-text {
  font-size: 28px;
  color: green;
}

.choice-text {
  padding-top: 15px;
}

.correct-choice {
  background-color: #B4EEB4;
}

.incorrect-choice {
  background-color: #FF9999;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.no-click {
  cursor: not-allowed;
}

.inline-elements {
  margin-top: 40px;
  display: inline;
}

#count {
  padding: 10px 120px 0 120px;
}

.choose {
  padding-top: 20px;
}

.results {
  font-size: 48px;
}

.time-up, .time-left {
  color: #1caff6;
}

.time-up {
  font-size: 42px;
}

.click-play {
  font-size: 32px;
}
